.char-spes{
	width: 100%;
	padding: 15px 0 15px 0;
	margin: 15px;
	text-align: center;
	background-image: linear-gradient(to bottom right, $limegreen, $turquoise, $limegreen);
	@include boxShaddow(0px, 0px, 12px, 0px, $blackTrans);
}