.search{
	padding: 15px 15px 0 15px;
	
	&__input{
		background-image: linear-gradient(to bottom right, $limegreen, $turquoise, $limegreen);
		color: $black;
		font-size: 35px;
		height: 100px;
		width: 100%;
		border: none;
		padding-left: 25px;
		@include boxShaddow(0px, 0px, 12px, 0px, $blackTrans);
		
		&:focus{
			@include boxShaddow(0px, 0px, 12px, 0px, $blackTrans);
		}
		&::placeholder{
			color: $darkslategray;
		}
	}
}