//imports
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Montserrat');

//colors
$limegreen: lime;
$turquoise: turquoise;
$white: white;
$black: black;
$blackTrans: rgba(0,0,0,0.75);
$darkslategray: darkslategray;

//fonts
$h1Font: 'Caveat Brush', cursive;
$h2Font: 'Caveat Brush', cursive;
$h3Font: 'Caveat Brush', cursive;
$inputFont: 'Caveat Brush', cursive;
$pFont: 'Montserrat', sans-serif;